<div class="forgot-password-container d-flex justify-content-center align-items-center">
    <mat-card class="forgot-password-card">
      <h2 class="text-center mb-4">Forgot Password?</h2>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
        </mat-form-field>
        <div class="d-grid gap-2 mt-4">
          <button mat-raised-button color="primary" type="submit" class="w-100">
            Reset Password
          </button>
        </div>
      </form>
      <div class="text-center mt-3">
        <a href="login" class="forgot-password-link">Login</a>
      </div>
      
    </mat-card>
  </div>
  
