
/* Center the card vertically and horizontally */
body {
  background-image: url('../assets/abstract-digital-grid-black-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Card animation */
  .login-card {
    animation: fadeIn 0.8s ease-in-out;
  }
  .forgot-password-link {
    color: #007bff;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  
  .forgot-password-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  @keyframes fadeIn {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
   
    
  }