<div class="dashboard-container">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>KA</span>
      
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" [(opened)]="isExpanded">
        <mat-nav-list>
          <mat-list-item>
            <a [routerLink]="['/login']">SignIn</a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['/dash']">Dashboard</a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['/register']">Register</a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['/add']">Employee</a>
          </mat-list-item>
          <!-- <mat-list-item>
            <a [routerLink]="['/edit']">Employee edit</a>

          </mat-list-item> -->
          <mat-list-item>
            <a [routerLink]="['/logout']">SignOut</a>
          </mat-list-item>
         
        </mat-nav-list>


      </mat-sidenav>
      <router-outlet></router-outlet>
    
  
 
    </mat-sidenav-container>
    
  </div>
  
  
  